.loading-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: -webkit-flex;
	display:		 flex;
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
	opacity: 1;
	z-index: 99999;
}
svg {
	width: 100px;
	height: 100px;
}

svg rect{
	width: 100px;
	height: 100px;
	fill: none;
	stroke-width: 100px;
	stroke: #00adff;
	stroke-dasharray: 100;
	stroke-dashoffset: 50%;
	animation: animate 1s linear infinite;
}

@keyframes animate {
	to {
		stroke-dashoffset: 250%;
	}
}